In [14]:
#Naive Bayes Classification
#Lujing Xi
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, ShuffleSplit
from sklearn import metrics
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

In [16]:
bank = pd.read_csv("https://raw.githubusercontent.com/z-o-e/bank_data_analysis/master/bank-full.csv", sep=';')
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [17]:
from sklearn.preprocessing import StandardScaler

X = StandardScaler().fit_transform(X)
pd.DataFrame(X).applymap(lambda x: abs(x))

              0         1         2         3         4         5         6
0      1.606965  0.256419  1.298476  0.011016  0.569351  0.411453  0.251940
1      0.288529  0.437895  1.298476  0.416127  0.569351  0.411453  0.251940
2      0.747384  0.446762  1.298476  0.707361  0.569351  0.411453  0.251940
3      0.571051  0.047205  1.298476  0.645231  0.569351  0.411453  0.251940
4      0.747384  0.447091  1.298476  0.233620  0.569351  0.411453  0.251940
...         ...       ...       ...       ...       ...       ...       ...
45206  0.947747  0.176460  0.143418  2.791329  0.076230  0.411453  0.251940
45207  2.831227  0.120447  0.143418  0.768224  0.246560  0.411453  0.251940
45208  2.925401  1.429593  0.143418  3.373797  0.721811  1.436189  1.050473
45209  1.512791  0.228024  0.143418  0.970146  0.399020  0.411453  0.251940
45210  0.370689  0.528364  0.143418  0.399328  0.246560  1.476138  4.523577

[45211 rows x 7 columns]

In [18]:
bank.isna().sum().sum()
bank.duplicated().sum()
X = bank.iloc[:, :-1].select_dtypes('number')
# X = StandardScaler().fit_transform(X)
y = bank.iloc[:, -1]
X.shape
y.shape
type(y)

0

0

(45211, 7)

(45211,)

pandas.core.series.Series

In [19]:

bnb = BernoulliNB()
bnb_pred = bnb.fit(X, y).predict(X)
metrics.accuracy_score(y, bnb_pred)

0.8830151954170445